# ignoring folders
/.git
/gerber + drill/2021-10-29
/gerber + drill/2021-10-30
/gerber + drill/2021-11-02
/gerber + drill/2021-11-03
/gerber + drill/2021-11-04
/gerber + drill/2021-11-05
/gerber + drill/2021-11-06
/gerber + drill/2021-11-07
/gerber + drill/2021-11-08
/gerber + drill/2021-11-09
/gerber + drill/2021-11-10

# ignoring KiCAD files
*.lib
*.bck
*.dcm
*.kicad_pcb
*.kicad_pcb-bak
*.net
*.pro
*.sch
*.sch-bak
CC dimmer low voltage-rescue.lib
CC dimmer low voltage.csv
CC dimmer low voltage.xml
fp-info-cache
fp-lib-table
sym-lib-table

# ignoring all files with specific file type
*.xlsx 
*.odt

# ignoring specific files
jlcpcb + kicad 5, how to genereate gerber + drill files.pdf
pcbway + kicad 5, how to genereate gerber + drill files.pdf

