# excluding folders
/.git
/CC dimmer low voltage-backups
/revisions/2021-10-29
/revisions/2021-10-30
/revisions/2021-11-02
/revisions/2021-11-03
/revisions/2021-11-04
/revisions/2021-11-05
/revisions/2021-11-06
/revisions/2021-11-07
/revisions/2021-11-08
/revisions/2021-11-09
/revisions/2021-11-10

# excluding KiCAD files
# Format documentation: https://dev-docs.kicad.org/en/file-formats/
*.kicad_pcb
*.kicad_pcb-bak
*.kicad_prl
*.kicad_prl-bak
*.net
*.pro
*.kicad_pro
*.kicad_pro-bak
*.sch
*.kicad_sch
*.kicad_sch-bak
*.sch-bak
*.kicad_sym
*.xml
*.lib
*rescue.bck
*rescue.dcm
*rescue.lib
fp-info-cache
fp-lib-table
sym-lib-table

# excluding other file types and temp. files
*.xlsx
*.xlsx#
*.odt
*.odt#
*.ods
*.ods#
*.csv
*.csv#
*.txt

# excluding specific files
/revisions/latest-schematic-diagram-bw.pdf
/revisions/enclosure-labels.pdf
