# excluding folders
/.git
/revisions/2021-10-29
/revisions/2021-10-30
/revisions/2021-11-02
/revisions/2021-11-03
/revisions/2021-11-04
/revisions/2021-11-05
/revisions/2021-11-06
/revisions/2021-11-07
/revisions/2021-11-08
/revisions/2021-11-09
/revisions/2021-11-10

# excluding KiCAD files
*.kicad_pcb
*.net
*.pro
*.sch
*.sch-bak
*.xml
*.lib
*rescue.bck
*rescue.dcm
*rescue.lib
fp-info-cache
fp-lib-table
sym-lib-table

# excluding other file types and temp. files
*.xlsx
*.xlsx#
*.odt
*.odt#
*.ods
*.ods#
*.csv#

# excluding specific files
# in root folder
jlcpcb + kicad 5, how to genereate gerber + drill files.pdf
pcbway + kicad 5, how to genereate gerber + drill files.pdf
jlcpcb-How to generate the BOM and Centroid file from KiCAD.pdf

# in sub folders
/revisions/latest-schematic-diagram-bw.pdf
/revisions/enclosure-labels.pdf
